@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-black {
    background-color: black;
}

.navbar a {
    color: #fff;
    font-size: 20px;
}
.button {
    background-color: #48CE36;
    border-radius: 35px;
}
.button a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.nav-item:hover a {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #48CE36;
}
.navbar-main ul {
    font-size: 24px;
    margin-top: 1rem;
}
.sm-icons {
    padding-top: 1rem;
}

@media (min-width: 768px)
/*tablet*/ {
    .navbar-main ul {
        margin-top: 0rem;
    }
    .sm-icons {
        padding-top: 0rem;
    }
}

.bg_nav-panel1 {
    background-image: url(../images/stage.png);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    max-width: 1500px;
    margin: auto;
}

